<div class="container-fluid">  
    <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls" />
    <br>
    <table class="table table-striped table-hover">   
        <thead>
            <tr>
                <th>Estado</th>
                <th>Número do Processo</th>
                <th>
                    <button type="button" class="btn btn-danger btn-lg" (click)="salvar_investimento()">
                        Salvar
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of extractedData">
              <td>{{ item.estado }}</td>
              <td>{{ item.numeroProcesso }}</td>
            </tr>                     
        </tbody>
    </table>    
</div>






