
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">       
        <div class="months-container">
            <button 
              class="btn btn-custom-gray" 
              *ngFor="let month of months; let i = index" 
              [ngClass]="{'btn-red': i === this.currentMonth}"  
              (click)="get_despesas_mes(i)">
                {{ month }}
            </button>
        </div>  
    </div> 
    <div class="row ">        
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto" width="60" height="60">
                            <i class="fas fa-calendar fa-2x text-gray-300">
                                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                                </svg>
                            </i>
                        </div>
                        <div class="col mr-2 ">
                            <div class=" text-xs font-weight-bold text-warning text-uppercase mb-1"  style="text-align: center;">
                                Rendas no mês</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"  style="text-align: center;">R$ {{(this.receita_mes_atual|| 0).toFixed(2)}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4" style="color: red;">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">                        
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1" style="text-align: center;">
                                Total de Gastos no mês</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" style="text-align: center;">R$ {{(this.despesas_mes_atual || 0).toFixed(2)}}
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>        
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2" style="text-align: center;">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Rendimento Investimento
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">-100%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                        [style.width.%]="20" aria-valuenow="50" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Aumento de gastos</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">95%</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Despesas no Mês X Receita</h6>
                </div>
                <div class="card-body" >
                    <h4 class="small font-weight-bold"  data-placement="top" title="Sem Capacete">
                        Alimentação R$ {{(this.alimentacao[this.currentMonth]|| 0).toFixed(2)}}
                        <span class="float-right">{{this.porcentagem_mes((this.alimentacao[this.currentMonth]|| 0)).toFixed(2)}}%/100%</span>
                    </h4>
                    <div class="progress mb-4" >
                        <div class="progress-bar bg-danger" role="progressbar" [style.width.%]="90"
                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>                    
                    <h4 class="small font-weight-bold" data-placement="top" title="Sem Óculos">
                        Trasnporte R$ {{(transporte[this.currentMonth]|| 0).toFixed(2)}}
                        <span class="float-right">{{this.porcentagem_mes((transporte[this.currentMonth]|| 0)).toFixed(2)}}%/100%</span>
                    </h4>
                    <div class="progress mb-4" >
                        <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="80"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h4 class="small font-weight-bold" data-placement="top" title="Sem Luva">                            
                        Apartamento R$ {{(this.apartamento[this.currentMonth]|| 0).toFixed(2)}}
                        <span class="float-right">{{this.porcentagem_mes((this.apartamento[this.currentMonth]|| 0)).toFixed(2)}}%/100%</span>
                    </h4>
                    <div class="progress mb-4" >
                        <div class="progress-bar bg-info" role="progressbar" [style.width.%]="10"
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h4 class="small font-weight-bold" data-placement="top" title="Sem Bota">                             
                        OUTROS R$ {{(outros[this.currentMonth] || 0).toFixed(2)}}
                        <span class="float-right">{{this.porcentagem_mes((outros[this.currentMonth] || 0)).toFixed(2)}}%/100%</span>
                    </h4>
                    <div class="progress mb-4" >
                        <div class="progress-bar" role="progressbar" [style.width.%]="50"
                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <h4 class="small font-weight-bold" data-placement="top" title="Sem Colete">
                        Chacara R$ {{(this.chacara[this.currentMonth] || 0).toFixed(2)}}
                        <span class="float-right">{{this.porcentagem_mes((this.chacara[this.currentMonth] || 0)).toFixed(2)}}%/ 100%</span>
                    </h4>
                    <div class="progress" >
                        <div class="progress-bar bg-success" role="progressbar" [style.width.%]="30"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>                                           
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Gastos X Receitas</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="lineChart" width="668" height="320" style="display: block; width: 668px; height: 320px;" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

